.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.title {
    margin-left: 1rem;
    font-weight: 700;
    font-size: var(--size-2xl);
}

.icon {
    margin-right: 1rem;
    color: var(--clr-slate50);
}

#search-icon {
    display: block;
}

#close-icon {
    display: none;
}

#search-container {
    display: none;
}

.logout-container {
    margin-right: 1rem;
}

#logout-text {
    display: none;
}

#mobile-search-container {
    display: none;
    padding-bottom: 1.5rem;
}

.search-box {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--clr-blue950);
    border-radius: 5px;
}

#search {
    width: calc(100% - 2.75rem);
    height: 2rem;
    border-radius: 5px 0px 0px 5px;
}

.search-btn, .logout-btn {
    background: none;
    border: none;
    color: var(--clr-slate50);
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .title {
        margin-left: 2rem;
    }
    
    .icon {
        margin-right: 2rem;
    }

    .logout-container {
        margin-right: 2rem;
    }

    .search-box {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .title {
        margin-left: 4rem;
        font-size: var(--size-3xl);
    }

    .icon {
        display: none;
    }

    #search-container {
        display: block;
        margin-right: 4rem;
        width: 20%;
    }

    .logout-container {
        margin-right: 4rem;
    }

    #logout-text {
        display: inline;
        font-weight: 400;
        font-size: var(--size-lg);
    }

    .search-box {
        margin: 0;
        background-color: var(--clr-blue950);
        border-radius: 5px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .title {
        margin-left: 6rem;
    }

    #search-container {
        margin-right: 6rem;
    }

    .logout-container {
        margin-right: 6rem;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .title {
        margin-left: 8rem;
        font-size: var(--size-4xl);
    }

    #search-container {
        margin-right: 8rem;
    }

    .logout-container {
        margin-right: 8rem;
    }

    #logout-text {
        font-size: var(--size-xl);
    }
}